:root {
  --primary: #B4EDD2;
  --secondary: #A0CFD3;
  --neutral: #8d94ba;
}

.bg-info {
  background-color: var(--secondary) !important;
}

.navbar-light .navbar-brand {
  color: black;
}

.btn-primary {
  color: white;
  background-color: var(--neutral);
  border-color: var(--neutral);
}

.btn-primary:hover {
  color: #fff;
  background-color: #25283D;
  border-color: var(--neutral);
}

.btn-outline-success {
  border-color: black  !important;
  color: black !important;
}

body {
  background-color: var(--primary);
}

.border-top {
  border-color: var(--secondary) !important;
}

.navbar-brand {
  font-family: 'Pacifico', cursive;
}